/*
FONTS
font-family: 'Roboto', sans-serif;
font-family: 'Noto Sans', sans-serif;

*/

.gridBody
{
    background-image: url('../images/KimiNoNaWa.png');
    background-size: cover;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    //grid management
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr ;
    grid-template-areas:
        "headerText"
        "main"
}

.main
{

    //grid management
    grid-area: 'main';
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap:1em;
    grid-template-areas:
        ". . main-header main-header . ."
        " . chapter1 chapter2 chapter3 chapter4 ."
        " . chapter5 chapter6 chapter7 chapter8 ."
        " . chapter9 chapter10 chapter11 chapter12 ."
        " . . chapter13 chapter13 . ."
}

@media (max-width:1200px)
{
    .gridBody
    {

        grid-template-rows: 0.5fr 2.5fr;
        grid-template-areas:
        "headerText headerText"
        "main"
    }
   .main
   {
       grid-template-columns: 1fr 2fr 1fr;
       grid-template-rows: repeat(14,1fr);
       grid-template-areas:
       ". main-header ."
       ". chapter1 ."
       ". chapter2 ."
       ". chapter3 ."
       ". chapter4 ."
       ". chapter5 ."
       ". chapter6 ."
       ". chapter7 ."
       ". chapter8 ."
       ". chapter9 ."
       ". chapter10 ."
       ". chapter11 ."
       ". chapter12 ."
       ". chapter13 ."
   }
}

#title-header
{
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(255, 82, 82);
    text-align: center;
    font-weight: bold;
    color:white;

    border: solid 2px black;
    //grid management
    display:grid;
    grid-area: headerText;
}

#main-header
{
    text-align:center;
    grid-area: main-header;
}

#chapter1 { grid-area:chapter1;}
#chapter2 { grid-area:chapter2;}
#chapter3 { grid-area:chapter3;}
#chapter4 { grid-area:chapter4;}
#chapter5 { grid-area:chapter5;}
#chapter6 { grid-area:chapter6;}
#chapter7 { grid-area:chapter7;}
#chapter8 { grid-area:chapter8;}
#chapter9 { grid-area:chapter9;}
#chapter10 { grid-area:chapter10;}
#chapter11 { grid-area:chapter11;}
#chapter12 { grid-area:chapter12;}
#chapter13 { grid-area:chapter13;}

.chapter
{
    font-family: 'Roboto', sans-serif;
    background-color: #FF1744;
    border: solid 2px black;
    text-align: center;
    color:white;
}

a
{
    color:white;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
